@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 10px;
  border: 2px dashed #212226;
  color: white;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

html.dark .drop-container:hover,
.drop-container.drag-active {
  border-color: #00c6ab;
}

.drop-container:hover,
.drop-container.drag-active {
  border-color: #e4c021;
}

.drop-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

html.dark .drop-container:hover  
input[type=file]::file-selector-button {
  background: #00c6ab;
}

.drop-container:hover  
input[type=file]::file-selector-button {
  background: #e4c021;
}